In [1]:
import pandas as pd

In [67]:
df=pd.read_csv('https://s3.amazonaws.com/interview.thefarmersdog.com/DA20b/general_store_sample_data.csv')

In [123]:
df1=df.loc[df['country'].isin(['US','FR','ES'])]
df1=df1[df1.year==2013]
df1['revenue'].median().round()

93995.0

In [138]:
v1=df1.groupby('product_group').median()

In [121]:
df2=df.loc[df['country'].isin(['US','FR','ES'])]
df2=df2[df2.year==2012]
df2['revenue'].median().round()

84380.0

In [139]:
v2=df2.groupby('product_group').median()

In [150]:
list(v2.revenue.keys())

['automobile',
 'clothing',
 'electronics',
 'furniture',
 'groceries',
 'office supplies']

In [154]:
pd.DataFrame(list(((v1.revenue.values-v2.revenue.values)/v2.revenue.values)*100),list(v2.revenue.keys())).reset_index()

             index          0
0       automobile  -1.591146
1         clothing  66.877961
2      electronics  -1.736664
3        furniture   1.421339
4        groceries  -2.455734
5  office supplies   0.835881

In [69]:
#df.to_csv('farmers_dogs.csv',index=False)

In [90]:
product= pd.melt(df.groupby(['product_group','year']).median().T)

In [102]:
years=product.loc[product['year'].isin([2013,2014])].reset_index(drop=True)

In [103]:
years

      product_group  year          value
0        automobile  2013  197911.020443
1        automobile  2014  197352.522728
2          clothing  2013    2054.263074
3          clothing  2014    1634.452568
4       electronics  2013   20077.937997
5       electronics  2014   19630.570362
6         furniture  2013   20037.202212
7         furniture  2014   20284.127373
8         groceries  2013  210322.103338
9         groceries  2014  200447.650995
10  office supplies  2013  201385.951152
11  office supplies  2014  199425.839641

In [110]:
for i in range(len(years.index)-1):
    if i%2 !=0:
        pass
    else:
        avg_dif= (((years.value[i]-years.value[i+1])/years.value[i])*100)
        print(years.product_group[i], avg_dif)

automobile 0.28219636969024364
clothing 20.43606347059136
electronics 2.2281552766951123
furniture -1.2323335274120215
groceries 4.69491897738115
office supplies 0.9733109484008082

In [113]:
for i in range(len(years.index)-1):
    if i%2 !=0:
        pass
    else:
        avg_dif= (years.value[i+1]-years.value[i])
        print(years.product_group[i], avg_dif)

automobile -558.4977149070182
clothing -419.81050556684
electronics -447.36763493015314
furniture 246.92516081839858
groceries -9874.452343259996
office supplies -1960.111511107476

In [114]:
df

       product_group country  year        revenue
0         automobile      BR  2012  206937.326525
1         automobile      BR  2013  199547.386832
2         automobile      BR  2014  192515.411446
3         automobile      CA  2012  197552.325143
4         automobile      CA  2013  197965.016752
..               ...     ...   ...            ...
175  office supplies      ZA  2013  208051.353956
176  office supplies      ZA  2014  214117.720539
177  office supplies      ZH  2012  189211.781700
178  office supplies      ZH  2013  191593.130571
179  office supplies      ZH  2014  199955.850031

[180 rows x 4 columns]