In [1]:
import matplotlib.pyplot as plt
from math import exp
from scipy import stats
import seaborn as sns
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor

In [2]:
df = pd.read_csv('cleaned_titanic.csv')

In [3]:
df.youngin=[0 if y == False else 1 for y in df.youngin]

In [4]:
df=df.drop( ['Survived'], axis=1)
model = RandomForestRegressor(random_state=1, max_depth=10)

In [5]:
df

     PassengerId  Pclass   Age  SibSp  Parch     Fare  youngin  male  Q  S
0              1       3  22.0      1      0   7.2500        0     1  0  1
1              2       1  38.0      1      0  71.2833        0     0  0  0
2              3       3  26.0      0      0   7.9250        0     0  0  1
3              4       1  35.0      1      0  53.1000        0     0  0  1
4              5       3  35.0      0      0   8.0500        0     1  0  1
..           ...     ...   ...    ...    ...      ...      ...   ... .. ..
884          887       2  27.0      0      0  13.0000        0     1  0  1
885          888       1  19.0      0      0  30.0000        0     0  0  1
886          889       3  24.0      1      2  23.4500        0     0  0  1
887          890       1  26.0      0      0  30.0000        0     1  0  0
888          891       3  32.0      0      0   7.7500        0     1  1  0

[889 rows x 10 columns]

In [6]:
import autosklearn.classification
from autosklearn.experimental.askl2 import AutoSklearn2Classifier