In [46]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [47]:
df=pd.read_csv('cleaned_titanic.csv')

In [48]:
df

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,youngin,male,Q,S
0,1,0,3,22.0,1,0,7.2500,False,1,0,1
1,2,1,1,38.0,1,0,71.2833,False,0,0,0
2,3,1,3,26.0,0,0,7.9250,False,0,0,1
3,4,1,1,35.0,1,0,53.1000,False,0,0,1
4,5,0,3,35.0,0,0,8.0500,False,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
884,887,0,2,27.0,0,0,13.0000,False,1,0,1
885,888,1,1,19.0,0,0,30.0000,False,0,0,1
886,889,0,3,24.0,1,2,23.4500,False,0,0,1
887,890,1,1,26.0,0,0,30.0000,False,1,0,0
888,891,0,3,32.0,0,0,7.7500,False,1,1,0

In [49]:
y=df["S"]
X=df.drop(['S'],axis=1)

In [50]:
X_test,X_train,y_test,y_train=train_test_split(X,y, test_size=.2, random_state=2020)

In [51]:
# Instantiating Logistic Regression with Max Iter of 10000 so the model can reach convergence
log_reg=LogisticRegression(max_iter=100000, random_state=40, class_weight="balanced")

In [52]:
# Fitting and predicting results.
log_reg.fit(X_train,y_train)

log_pred=log_reg.predict(X_test)

In [53]:
import lime
import lime.lime_tabular

explainer = lime.lime_tabular.LimeTabularExplainer(X_train.values,
                                                   mode = 'classification',
                                                   feature_names = list(X.columns),
                                                   categorical_features = [3], 
                                                   categorical_names = ['No',"Yes"], 
                                                   discretize_continuous = True)
                                                   
np.random.seed(42)
exp = explainer.explain_instance(X_train.values[31], grid_gb2.best_estimator_.predict_proba, num_features = 5)
exp.show_in_notebook(show_all=False) #only the features used in the explanation are displayed

exp = explainer.explain_instance(X_train.values[51], grid_gb2.best_estimator_.predict_proba, num_features = 5)
exp.show_in_notebook(show_all=False) #only the features used in the explanation are displayed

NameError: name 'grid_gb2' is not defined