In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('https://s3.amazonaws.com/interview.thefarmersdog.com/DA20b/general_store_sample_data.csv')

In [4]:
df

       product_group country  year        revenue
0         automobile      BR  2012  206937.326525
1         automobile      BR  2013  199547.386832
2         automobile      BR  2014  192515.411446
3         automobile      CA  2012  197552.325143
4         automobile      CA  2013  197965.016752
..               ...     ...   ...            ...
175  office supplies      ZA  2013  208051.353956
176  office supplies      ZA  2014  214117.720539
177  office supplies      ZH  2012  189211.781700
178  office supplies      ZH  2013  191593.130571
179  office supplies      ZH  2014  199955.850031

[180 rows x 4 columns]

In [11]:
df.to_csv('farmers_dog')